#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp Q &kp W &kp E &kp R &kp T &kp Z &kp U &kp I &kp O &kp P
        &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMICOLON 
        &kp Y &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH
        &mo 1 &kp SPACE &kp SHIFT &kp SHIFT &mo 2 &mo 3 
      >;
    };

    Symbols_layer {
      bindings = <
        &kp ESC &none &none &none &none &kp TILDE &kp LEFT_BRACE &kp RIGHT_BRACE &kp ASTERISK &kp BACKSPACE 
        &kp LEFT_SHIFT &sk LEFT_CONTROL &sk LEFT_ALT &none &none &kp PLUS &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp AT_SIGN &kp RETURN 
        &none &none &none &none &none &kp MINUS &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp EXCLAMATION &kp SINGLE_QUOTE
        &none &none &none &none &none &none 
      >;
    };

    Nav_layer {
      bindings = <
        &none &none &none &none &none &none &none &none &none &none
        &none &none &none &none &none &kp LEFT &kp DOWN &kp UP &kp RIGHT &none 
        &none &none &none &none &none &none &none &none &none &none 
        &none &none &none &none &none &none 
      >;
    };

    NumpadBluetooth_layer {
      bindings = <
        &kp NUMBER_9 &kp NUMBER_8 &kp NUMBER_7 &none &none &bt BT_CLR &none &none &none &none 
        &kp NUMBER_6 &kp NUMBER_5 &kp NUMBER_4 &none &none &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none &kp LEFT_SHIFT 
        &kp NUMBER_3 &kp NUMBER_2 &kp NUMBER_1 &kp NUMBER_0 &none &none &none &none &none &none 
        &none &none &none &none &none &none 
      >;
    };
  };
};
